# obisidian
.obsidian

# PyCharm
.idea/
*.iml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# Terraform dosyaları
terraform.tfstate
terraform.tfstate.backup
*.tfvars
.terraform/

# IDE ve editor dosyaları
.idea/
.vscode/
*.swp
*.swo

# Diğer dosyalar
*.log
*.env